@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-family: "Lato", sans-serif;
}

.container {
	width: 1140px;
	margin: 0px auto;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header__header {
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo {
	width: 165px;
	background: url("img/logo.png") no-repeat;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 300;
	padding-left: 72px;
	line-height: 51px;
	margin-right: 37px;
}
.logo span {
	color: #f16d7f;
	font-weight: 700;
}

.header__searchform {
	display: flex;
	align-items: center;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	height: 40px;
	font-weight: 300;
}
.header__search-browse {
	padding: 14px;
	border-right: 1px solid #e6e6e6;
	background-color: #f8f8f8;
	font-size: 14px;
	line-height: 40px;
	color: #222222;
	font-weight: 400;
}

.header__search-input {
	height: inherit;
	border: none;
	outline: none;
	padding: 14px 16px;
}
.header__search-browse i:first-child {
	color: #838383;
}

.header__search-buton {
	color: #a4a4a4;
	height: inherit;
	border: none;
	border-left: 1px solid #e6e6e6;
	background: none;
	padding: 12px;
}

.header__cart {
	margin-right: 24px;
	margin-left: auto;
}
.header__btn {
	padding: 13px 19px;
	background-color: #f16d7f;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	border: none;
}
.header__line {
	border-bottom: 1px solid #ececec;
}

.header__nav {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav a {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__nav a:not(:last-child) {
	margin-right: 45px;
}

.header__nav a:hover {
	color: #f16d7f;
}

.content {
	flex: 1 1 auto;
}

.top-banner-wrap {
	background-color: #e8e8e8;
	height: 665px;
}
.top-banner-content {
	height: inherit;
	display: flex;
	align-items: center;
	background: url(img/topHeaderBack.png) no-repeat 554px 0;
	background-size: 550px;
}

.top-banner-content__sign {
	display: flex;
	align-items: center;
}
.top-banner-content__line {
	margin-right: 12px;
	width: 12px;
	height: 92px;
	background-color: #f16d7f;
}

.top-banner-content__text div:first-child {
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1.5px;
}

.top-banner-content__text div:last-child {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
}

.top-banner-content__text span {
	color: #f16d7f;
}

.offers {
	margin-top: 98px;
	height: 845px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.offers__div {
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}

.offers__label {
	position: absolute;
	background-color: #ffffff;
	top: 25px;
	padding: 15px 20px;
}

.offers__label-top {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.45px;
}
.offers__label-bottom {
	color: #f16d7f;
	letter-spacing: 0.75px;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}

.featured-items {
	margin-top: 100px;
}

.featured-items__head {
	text-align: center;
}

.head-text {
	font-size: 30px;
	font-weight: 700;
}

.sub-text {
	margin-top: 16px;
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
}

.products {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products__item {
	width: 263px;
	height: 364px;
}

.products__item:nth-child(n + 5) {
	margin-top: 27px;
}
.products__wrap-img {
	height: 280px;
	position: relative;
}

/* Ховер для Featured Item */
.products__buy {
	height: inherit;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	position: absolute;
}

.products__buy button {
	padding: 15px;
	border: 1px solid #ffffff;
	background: none;
	color: white;
	font-size: 13px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.products__buy button img {
	margin-right: 10px;
}

.products__item:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.products__item:hover .products__buy {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------- */

.products__img {
	width: 100%;
	display: block;
	height: inherit;
	object-fit: cover;
	object-position: center center;
}
.products__bottom {
	padding: 19px;
}
.products__name {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
.products__price {
	margin-top: 16px;
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.featured-items__button {
	margin: 79px auto 113px;
	padding: 18px 24px;
	display: flex;
	align-items: center;
	background-color: #f16d7f;
	border: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}

.featured-items__button img {
	margin-left: 9px;
}

.offer-women {
	height: 530px;
	display: flex;
}

.offer-woman__banner {
	flex-shrink: 0;
	height: inherit;
	width: 767px;
	background: url(img/offerForWomen.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.offer-woman__banner-text {
	position: absolute;
	top: 146px;
	left: 40px;
}

.offer-woman__banner-text div:first-child {
	color: #ffffff;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.offer-woman__banner-text span {
	color: #f16d7f;
}

.offer-woman__banner-text div:last-child {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

.offer-woman__details {
	background-color: #222224;
	color: #fbfbfb;
	display: flex;
	flex-direction: column;
}
.offer-woman__item {
	flex-grow: 1;
	padding: 30px 40px 30px 110px;
}

.offer-woman__item:first-child {
	background: url(img/offerDetails1.png) no-repeat 30px 30px;
}

.offer-woman__item:nth-child(2) {
	background: url(img/offerDetails2.png) no-repeat 30px 30px;
}

.offer-woman__item:last-child {
	background: url(img/offerDetails3.png) no-repeat 30px 30px;
}

.offer-woman__header-text {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.offer-woman__text {
	margin-top: 18px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0.35px;
}

/* Стили cart.html */

.new-arrivals-wrapper {
	height: 148px;
	background-color: #f8f3f4;
}
.new-arrivals {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
}

.new-arrivals h1 {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.new-arrivals__a {
	color: #636363;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.new-arrivals__a-active {
	color: #f16d7f;
}

.new-arrivals__a:hover {
	color: #f16d7f;
}

.cart {
	margin-top: 90px;
}

.cart__block {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	margin-top: 22px;
	color: #656565;
	font-size: 13px;
	font-weight: 400;
}

.cart__block > div:not(:first-child) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart__header-text {
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.cart__product-details {
	width: 450px;
	display: flex;
}

.cart__unite-price {
	width: 80px;
}

.cart__quantity {
	width: 70px;
}

.cart__quantity input {
	text-align: center;
	width: 54px;
	height: 30px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.cart__shipping {
	width: 65px;
}

.cart__subtotal {
	width: 70px;
}

.cart__action {
	width: 50px;
}

.cart__product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 13px;
	padding-bottom: 22px;
}

.cart__product span {
	color: #575757;
	font-weight: 700;
}

.cart__color {
	margin-top: auto;
	color: #6f6e6e;
	font-size: 13px;
	font-weight: 300;
}
.cart__size {
	margin-top: 6px;
	color: #6f6e6e;
	font-size: 13px;
	font-weight: 300;
}

.cart__product-details img {
	margin-right: 21px;
}

.cart-buttons {
	margin-top: 44px;
	display: flex;
	justify-content: space-between;
}

.cart-buttons button {
	padding: 20px 39px;
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.cart-form {
	margin-top: 63px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.cart-form__column {
	width: 355px;
}

.cart-form__column h2 {
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.cart-form__column input,
select {
	font-family: inherit;
	width: 100%;
	color: #b1b1b1;
	font-size: 13px;
	font-weight: 300;
	height: 45px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 13px;
}

.cart-form__column button {
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	padding: 12px 14px;
	color: #4a4a4a;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
}

.cart-form__column p {
	color: #000000;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 24px;
}

.cart-form__total {
	width: 360px;
	padding: 40px;
	background-color: #f5f3f3;
	box-sizing: border-box;
}
.cart-form__sub {
	text-align: right;
	color: #4a4a4a;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.cart-form__sub span:last-child {
	margin-left: 15px;
}

.cart-form__grand {
	text-align: right;
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 22px;
	margin-bottom: 17px;
	border-bottom: 1px solid #e2e2e2;
}

.cart-form__grand span:last-child {
	margin-left: 19px;
	color: #f16d7f;
}

.cart-form__total button {
	width: 100%;
	background-color: #f16d7f;
	padding: 20px 40px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.subscribe-wrap {
	height: 438px;
	margin-top: 97px;
	background: url(img/subscribe.jpg) no-repeat center bottom #ccc;
	background-size: cover;
	background-blend-mode: overlay;
}

.subscribe {
	display: flex;
	height: inherit;
}

.subscribe__left {
	display: flex;
	align-items: center;
}

.subscribe__review {
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.subscribe__photo {
	width: 83px;
}
.subscribe__text {
	width: 386px;
}

.subscribe__text blockquote {
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	font-weight: 700;
}

.subscribe__name {
	margin-top: 19px;
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
}

.subscribe__adress {
	color: #222224;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
.subscribe__switch {
	margin-top: 40px;
	width: 140px;
	display: flex;
	justify-content: space-between;
}
.subscribe__switch-inactive {
	width: 38px;
	height: 4px;
	background-color: #d6d6d6;
	cursor: pointer;
}

.subscribe__switch-active {
	background-color: #f16d7f;
}

.subscribe__switch-inactive:hover {
	background-color: #f16d7f;
}

.subscribe__delimiter {
	background-color: #ffffff;
	width: 1px;
}
.subscribe__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.subscribe__header {
	font-weight: 400;
	color: #222224;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}
.subscribe__right-text {
	font-size: 14px;
	font-weight: 400;
	color: #222224;
	letter-spacing: 0.35px;
	margin: 14px 0px 35px;
}
.subscribe__form {
	height: 46px;
}

.subscribe__form input {
	height: inherit;
	width: 282px;
	background-color: #e1e1e1;
	padding: 0px 28px;
	border-top-left-radius: 23px;
	border-bottom-left-radius: 23px;
	float: left;
}

.subscribe__form button {
	height: inherit;
	background-color: #f16d7f;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 0.35px;
	padding: 0px 28px;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
}

.footer {
	margin-top: 110px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__brand {
	width: 427px;
	color: #898989;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.footer__text-1 {
	margin: 30px 0px 40px;
}
.footer__text-2 {
}
.footer__column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 260px;
}

.footer__column h2 {
	margin: 0 0 30px;
	color: #f16d7f;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}

.footer__column a {
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	text-decoration: none;
}

.footer a:hover {
	color: #f16d7f;
}

.copyright {
	background-color: #e6e6e6;
	height: 79px;
	margin-top: 100px;
}

.copyright__wrap {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright__copyright {
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
	line-height: 42px;
}

.copyright__link {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.copyright__link a {
	text-decoration: none;
	color: inherit;
}

.copyright__link a:hover i {
	color: white;
	background: #f16d7f;
}

.copyright__link i {
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
